# Python
__pycache__/
*.py[cod]

# Virtualenv
venv/

# Environment
.env
.env.*

# Django media/static
media/
staticfiles/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

db_vps.txt
note.txt